body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: slategray;
   
    
}

.nome{
    text-align: center;
    font-size: larger;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 200px;
    color: white;

}
.dados{
    text-align: center;
    display:flexbox;
    border: 10px solid black;
    border-radius: 180px;
    margin: 20px;

}



    
     